/* dinobarf color is 78a72b */
body {
  font-family: 'Jockey One', sans-serif;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
}

li.current {
  background: #ccc;
}

h1 { 
  color: #602378;
}
h2 {
  color: #B53B2F;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
  font-size: 24px;
}
li:hover {
  background-color: #DA8981;
}
