/* dinobarf color is 78a72b */
body {
  font-family: 'Jockey One', sans-serif;
  background-color: #ccc;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
}

li.current {
  background: #ccc;
}

h1 { 
  color: #602378;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
  text-align: left;
  font-size: 24px;
}
li:hover {
  background-color: #A772BC;
}
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
}
.bandname {
  color: #B53B2F;
}
#dinobarf {
  cursor: pointer;
}
#dinobarf-purple {
  display: none;
  cursor: pointer;
}
#gremlin1 {
  display: none;
}
#gremlin2 {
  display: none;
}
#preg {
  display: none;
}
#pregexplosion {
  display: none;
}
#pregbaby {
  display: none;
}
#notpreg {
  display: none;
}
#baby {
  display: none;
}
#gemini {
  display: none;
}
#squirrel {
  display: none;
  float: left;
  z-index: 100;
}
